@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/menu.css');

* {
    font-family: "Nanum Gothic Coding", monospace; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol {
    margin-left: 4em;
}

body {
    background-color: #324455;
    color: #cacaca;
}

h1 {
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}

a {
    color: lightskyblue;
}


/*--------------- Banner ----------------- */
.active {
    background-color: #324455;
    color: white;
}
@media only screen and (min-width: 921px) {
.banner-mobile {
    display: none;
}


.banner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.banner > * {
    font-size: 1.5em;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: #000000;
    align-items: center;
    display: flex;
}
.banner > *:hover:not(.active):not(.noHover) {
    background-color: #98aabb;
}

.logo {
    width: 400px;
    margin: 10px 0;
    display: block;
}
}

@media only screen and (max-width: 920px) {
.banner {
    display: none;
}
.banner-mobile {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}
.drop-down {
    margin-right: 10px;
}


.logo-mobile {
    filter: brightness(25%);
    width: 70px;
    height: auto;
    margin: 10px 0;
    display: block;
}
.banner-mobile a{
    font-size: 1.5em;
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 15px 10px;
}
.drop-down button{
    width: 100%;
    display: 100%;
    background-color: #FFFFFF;
    cursor: pointer;
    padding: 20px 20px;
}

.drop-down-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    min-width: 120px;
    right: 0;
}

.drop-down-content a{
    width: 100%;
}

/*.drop-down:hover .drop-down-content {
    display: block;
}*/

.banner-mobile a:hover:not(.active):not(.noHover) {
    background-color: #98aabb;
}
.show {display: block;}
}

/*---------- Index.html Content --------- */
.content {
    font-family: "Oxygen", sans-serif; 
    font-size: 1em;
    margin: 20px;
    line-height: 30px;
}
.content-p {
    max-width: 600px;
    font-size: 1.2em; 
    max-width: 70%;
}

/*-------- Bios------------*/

.bio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bio-text {
    font-size: 1em;
    max-width: 600px;
    padding-left: 30px;
    padding-right: 30px;
}
figure {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
}

@media only screen and (max-width: 560px) {
    .bio{
        flex-direction: column;
    }

    #preston-text{
        order: 2; 
    }
    #preston-img{
        order: 1; 
    }
    #eduardo-img{
        order: 1; 
    }
    #eduardo-text{
        order: 2; 
    }
}

/*---------- coding ----------------*/
.code {
    tab-size: 4;
}
