@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    font-family: "Nanum Gothic Coding", monospace; 
    margin: 0;
    padding: 0;
}

li, button {
    text-decoration: none;
    color: #000000;
}
li {
    list-style-type: none;
}

body {
    background-color: #324455;
    color: #cacaca;
    margin: 0 auto;
    font-family: "Times New Roman", Times, serif;
    width: 100%;
}

h1 {
    color: white;
}

a {
    color: lightskyblue;
}


/*--------------- Banner ----------------- */
.banner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.banner > * {
    font-size: 1.5em;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: #000000;
    align-items: center;
    display: flex;
}
.banner > *:hover:not(.active):not(.noHover) {
    background-color: #98aabb;
}

.logo {
    width: 400px;
    margin: 10px 0;
    display: block;
}

.active {
    background-color: #324455;
    color: white;
}

/*---------- Index.html Content --------- */
.content {
    font-family: "Oxygen", sans-serif; 
    font-size: 1em;
    margin: 20px;
    line-height: 30px;
}
.content-p {
    max-width: 600px;
    font-size: 1.2em; 
    max-width: 70%;
}

/*-------- Bios------------*/
.bio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bio-text {
    font-size: 1em;
    max-width: 600px;
    padding-left: 30px;
}
figure {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}
